*{
   padding:0;
   margin: 0;
}
h1{
    font-family: 'Edu SA Beginner', cursive;
    font-size: 35px;
}
h4{
    font-family: 'Edu SA Beginner', cursive;
}
.profile p{
    font-family: 'Edu SA Beginner', cursive;
    font-size: 20px;
}
p{
    font-family: 'Edu SA Beginner', cursive;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: center;
}
.navbar ul{
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    background-color:white;
}

li{
    display: inline;
    float: left;
    margin-left: 10px;
}
li a {
    padding: 10px 10px;
    display: block;
    margin: auto;
}
ul li a img{
    width: 25px;
    height: 25px;
}
.profile{
    text-align: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    background-color: beige;
}
.profile img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: solid white 5px;
}
.profile p {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}
.aboutme{
    background-color: blanchedalmond;
    line-height: 2;
    padding: 5px;
    
}
.projects{
    background-color:whitesmoke;
}
.projects h1{
    text-align: center;
    padding: 20px;

}
.flex-container a {
    text-decoration: none;
    color: black;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.flex-item{
    margin: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    text-align: center;
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  .card img {
    border-radius: 5px 5px 0 0;
    width: 300px;
  }
  .contact{
    background-color: black;
    padding: 30px;
  }
  .contact p {
    color: white;
  }